/* Global Rules */

:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scrollbar-width: auto;
    scrollbar-color: var(--blue-color) #ffffff;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #F1F5F9;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-color);
    transition: background-color .5s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--blue-alt-color);
}

/* Wrapper */

.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Page */

.page {
    justify-content: flex-end;
}

/* Sidebar */

.sidebar {
    width: 220px;
    box-shadow: 0 0 10px #ddd;
    height: 100vh;
    z-index: 99;
    left: 0;
}

.sidebar .title {
    font-size: 21px;
    padding: 20px 0 18px;
}

.sidebar .title::before,
.sidebar .title::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
}

.sidebar .title::before {
    width: 80px;
    height: 2px;
    bottom: 0;
}

.sidebar .title::after {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    bottom: -10px;
    border: 5px solid #fff;
}

.sidebar .links {
    margin: 40px 0;
}

.sidebar .links li {
    margin: 5px 0;
}

.sidebar .links li a {
    transition: background-color .5s;
}

.sidebar .links li a.active,
.sidebar .links li a:hover {
    background-color: #F6F6F6;
}

.sidebar .links li a .icon {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .sidebar {
        width: 60px;
        padding: 10px;
    }

    .sidebar .title {
        font-size: 14px;
    }

    .sidebar .title::before,
    .sidebar .title::after {
        display: none;
    }

    .sidebar .links {
        margin: 0;
    }

    .sidebar .links li a {
        padding: 10px;
    }

    .sidebar .links li a .icon {
        margin-right: 0;
    }

    .sidebar .links li a span {
        display: none;
    }
}

/* Content */

.content {
    width: calc(100% - 220px);
}

@media (max-width: 767px) {
    .content {
        width: calc(100% - 60px);
    }
}

/* Header */

.content .header {
    height: 65px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    z-index: 98;
    box-shadow: 0 0 10px #ddd;
}

.content .header .left::before {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 14px;
    color: var(--grey-color);
}

.content .header .left input {
    padding: 10px 10px 10px 30px;
    border: 1px solid #ccc;
    width: 160px;
    transition: width .3s;
}

.content .header .left input:focus {
    width: 200px;
}

.content .header .left input::placeholder {
    transition: opacity .3s;
}

.content .header .left input:focus::placeholder {
    opacity: 0;
}

.content .header .right>span {
    cursor: pointer;
}

.content .header .right>span::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
}

.content .header .right img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    cursor: pointer;
}

/* Title Section */

@media (max-width: 767px) {
    .content>.title {
        margin: 20px 10px;
    }
}

.content>.title::before,
.content>.title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 3px;
}

.content>.title::before {
    left: 0;
    background-color: #000;
    width: 40px;
}

.content>.title::after {
    left: 40px;
    width: 90px;
    background-color: #fff;
}

/* Dashboard */

/* Welcome Widget*/

.welcome {
    overflow: hidden;
}

.welcome .head {
    padding: 20px 20px 10px;
}

.welcome .head .welcome-img {
    width: 200px;
}

.welcome .head .avatar {
    width: 65px;
    border: 5px solid #fff;
    bottom: -32.5px;
    left: 20px;
}

.welcome .infos {
    margin-top: 50px;
    padding: 20px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.welcome .infos .info {
    flex: 1;
}

.welcome a {
    margin: 20px 20px 10px auto;
    transition: background-color .5s;
}

.welcome a:hover {
    background-color: var(--blue-alt-color);
}

@media (max-width: 767px) {
    .welcome .head .text .subtitle {
        margin-bottom: 30px;
        text-align: center;
    }

    .welcome .head .avatar {
        left: 50%;
        transform: translateX(-50%);
    }

    .welcome .infos .info:nth-child(2) {
        margin: 20px 0;
    }

    .welcome a {
        margin-bottom: 20px;
    }
}

/* Draft Widget*/

.draft form input,
.draft form textarea {
    border: 0;
}

.draft form textarea {
    resize: none;
    height: 180px;
}

.draft form input[type="submit"] {
    margin-left: auto;
    cursor: pointer;
    transition: background-color .5s;
}

.draft form input[type="submit"]:hover {
    background-color: var(--blue-alt-color);
}

/* Target Widget */

.target .items .item .icon {
    width: 100px;
    height: 80px;
}

.target .items .item .details .progress {
    height: 5px;
}

.target .items .item .details .progress span {
    top: 0;
    left: 0;
    height: inherit;
}

.target .items .item .details .progress span::before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    right: -4.5px;
    top: -12px;
}

.target .items .item:nth-child(1) .details .progress span::before {
    border-top-color: var(--blue-color);
}

.target .items .item:nth-child(2) .details .progress span::before {
    border-top-color: var(--orange-color);
}

.target .items .item:nth-child(3) .details .progress span::before {
    border-top-color: var(--green-color);
}

.target .items .item .details .progress span::after {
    content: attr(data-prog);
    position: absolute;
    padding: 2px 5px;
    font-size: 14px;
    color: #fff;
    border-radius: 6px;
    top: -35px;
    right: -18px;
}

.target .items .item:nth-child(1) .details .progress span::after {
    background-color: var(--blue-color);
}

.target .items .item:nth-child(2) .details .progress span::after {
    background-color: var(--orange-color);
}

.target .items .item:nth-child(3) .details .progress span::after {
    background-color: var(--green-color);
}

/* Ticket Widget */

.ticket .boxes .box {
    border: 1px solid #ccc;
    width: calc(50% - 10px);
}

@media (max-width: 767px) {
    .ticket .boxes .box {
        width: 100%;
    }
}

/* News Widget */

.news .articles .article:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.news .articles .article img {
    width: 100px;
}

.news .articles .article .text {
    flex: 1;
}

@media (max-width: 767px) {
    .news .articles .article img {
        margin: 0 0 5px;
    }

    .news .articles .article .text .subtitle {
        margin-bottom: 10px;
        display: block;
    }
}

/* Tasks Widget */

.tasks .tasks-box .task.special {
    opacity: .3;
}

.tasks .tasks-box .task.special .text .title,
.tasks .tasks-box .task.special .text .subtitle {
    text-decoration: line-through;
}

.tasks .tasks-box .task:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.tasks .tasks-box .task .text {
    flex: 1;
}

.tasks .tasks-box .task svg {
    cursor: pointer;
    transition: color .5s;
}

.tasks .tasks-box .task svg:hover {
    color: var(--red-color);
}

/* Latest Upload Widget */

.latest-upload .uploads .upload:not(:last-child) {
    border-bottom: 1px solid #eee;
}

.latest-upload .uploads .upload img {
    width: 40px;
}

.latest-upload .uploads .upload .text {
    flex: 1;
}

/* Last Project Progress Widget */

.last-project img {
    width: 160px;
    bottom: 0;
    right: 0;
    opacity: .1;
}

.last-project .rows .row .circle {
    border: 2px solid var(--blue-color);
    width: 28px;
    height: 28px;
}

.last-project .rows .row .circle.done::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--blue-color);
    border-radius: 50%;
}

.last-project .rows .row .circle.current::before {
    animation: circle-current .8s alternate infinite;
}

.last-project .rows .row .circle.done::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 20px;
    background-color: var(--blue-color);
}

/* Reminders Widget */

.reminders .rows .row {
    border-left-width: 2px;
    border-left-style: solid;
}

.reminders .rows .row.blue {
    border-left-color: var(--blue-color);
}

.reminders .rows .row.green {
    border-left-color: var(--green-color);
}

.reminders .rows .row.orange {
    border-left-color: var(--orange-color);
}

.reminders .rows .row.red {
    border-left-color: var(--red-color);
}

.reminders .rows .row::before {
    content: "";
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.reminders .rows .row.blue::before {
    background-color: var(--blue-color);
}

.reminders .rows .row.green::before {
    background-color: var(--green-color);
}

.reminders .rows .row.orange::before {
    background-color: var(--orange-color);
}

.reminders .rows .row.red::before {
    background-color: var(--red-color);
}

/* Latest Post Widget */

.latest-post .intro img {
    width: 50px;
    height: 50px;
}

.latest-post .intro {
    border-bottom: 1px solid #eee;
}

.latest-post .post-content {
    line-height: 1.8;
    min-height: 150px;
}

.latest-post .outro {
    border-top: 1px solid #eee;
}

.latest-post .outro span:first-child::before,
.latest-post .outro span:last-child::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.latest-post .outro span:first-child::before {
    content: "\f004";
    left: -20px;
}

.latest-post .outro span:last-child::before {
    content: "\f086";
    left: -25px;
}

/* Social Media Widget */

.social-media .rows .row .icon {
    width: 54px;
    height: 57px;
    transition: transform .4s;
}

.social-media .rows .row:hover .icon {
    transform: translateX(7px)
}

.social-media .rows .row .icon.twitter,
.social-media .rows .row .text a.twitter {
    background-color: #1DA1F2;
}

.social-media .rows .row .icon.facebook,
.social-media .rows .row .text a.facebook {
    background-color: #1877F2;
}

.social-media .rows .row .icon.youtube,
.social-media .rows .row .text a.youtube {
    background-color: #FF0000;
}

.social-media .rows .row .icon.linkedin,
.social-media .rows .row .text a.linkedin {
    background-color: #0077B5;
}

.social-media .rows .row .icon svg {
    font-size: 32px;
}

.social-media .rows .row .text {
    flex: 1;
}

.social-media .rows .row .text.twitter {
    background-color: #D2ECFC;
}

.social-media .rows .row .text.facebook {
    background-color: #D1E4FC;
}

.social-media .rows .row .text.youtube {
    background-color: #FFCCCC;
}

.social-media .rows .row .text.linkedin {
    background-color: #CCE4F0;
}

.social-media .rows .row .text span.twitter {
    color: #1DA1F2;
}

.social-media .rows .row .text span.facebook {
    color: #1877F2;
}

.social-media .rows .row .text span.youtube {
    color: #FF0000;
}

.social-media .rows .row .text span.linkedin {
    color: #0077B5;
}

/* Projects Table Widget */

.responsive-table {
    overflow-x: auto;
}

.projects table {
    border: 1px solid #eee;
    border-collapse: collapse;
    min-width: 1000px;
}

.projects table thead tr th {
    padding: 15px;
    text-align: left;
}

.projects table tbody tr td {
    padding: 15px;
    border: 1px solid #eee;
}

.projects table tbody tr {
    transition: background-color .4s;
}

.projects table tbody tr:hover {
    background-color: #FAF7F7;
}

.projects table tbody tr img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.projects table tbody tr img:not(:first-child) {
    margin-left: -20px;
}

/* End Dashboard */

/* Settings */

/* Site Control Widget */

.site-control .rows textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border-color: #ccc;
}

/* General Info Widget */

.general-info form input {
    outline: 0;
    border: 1px solid #ccc;
}

.general-info form .email-submit input:disabled {
    background-color: #F0F4F8;
    cursor: no-drop;
}

.general-info form .email-submit input:disabled::placeholder {
    color: #bbb;
}

/* Security Info Widget */

.security-info .rows .row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.security-info .rows .row .change-btn {
    transition: background-color .4s;
}

.security-info .rows .row .change-btn:hover {
    background-color: var(--blue-alt-color);
}

/* Social Info Widget */

.social-info .rows .row {
    border: 1px solid #ccc;
    overflow: hidden;
}

.social-info .rows .row svg {
    color: #888;
    padding: 12px 10px;
    background-color: #F6F6F6;
    transition: color .4s;
}

.social-info .rows .row input {
    outline: 0;
    border: 0;
    border-left: 1px solid #ddd;
    background-color: #F6F6F6;
    padding: 12px;
}

.social-info .rows .row:focus-within svg {
    color: #000;
}

/* Widgets Control */

.widgets-control .rows .row {
    cursor: pointer;
}

.widgets-control .rows .row input[type="checkbox"] {
    appearance: none;
    margin-right: 26px;
}

.widgets-control .rows .row input[type="checkbox"]:checked+.check-mark {
    border-color: var(--blue-color);
    transform: scale(1) rotate(0deg);
}

.widgets-control .rows .row .check-mark {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border: 2px solid var(--grey-color);
    top: 0;
    left: 0;
    transition: .3s;
}

.widgets-control .rows .row:hover .check-mark {
    border-color: var(--blue-alt-color);
}

.widgets-control .rows .row .check-mark::before {
    content: "\f00c";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: scale(0) rotate(360deg);
    color: #fff;
    font-size: 12px;
    transition: .3s;
}

.widgets-control .rows .row input[type="checkbox"]:checked+.check-mark::before {
    background-color: var(--blue-color);
    transform: scale(1) rotate(0deg);
}

/* Backup Manager Widget */

.backup-manager .rows .row {
    cursor: pointer;
}


.backup-manager .rows .intro {
    border-bottom: 1px solid #eee;
}

.backup-manager .rows .intro .row input[type="radio"] {
    appearance: none;
    margin-right: 25px;
}

.backup-manager .rows .intro .row .check-mark {
    width: 22px;
    height: 22px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
    left: 0;
    top: 0;
}

.backup-manager .rows .intro .row .check-mark::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--blue-color);
    transition: transform .4s;
}

.backup-manager .rows .intro .row input[type="radio"]:checked+.check-mark {
    border-color: var(--blue-color);
}

.backup-manager .rows .intro .row input[type="radio"]:checked+.check-mark::before {
    transform: translate(-50%, -50%) scale(1);
}

.backup-manager .rows .outro .row {
    border: 2px solid #eee;
    flex: 1;
    flex-direction: column;
    padding: 15px;
}

.backup-manager .rows .outro input[type="radio"] {
    appearance: none;
}

.backup-manager .rows .outro input[type="radio"]:checked+label {
    color: var(--blue-color);
    border-color: var(--blue-color);
}

@media (max-width:767px) {
    .backup-manager .rows .outro {
        flex-direction: column;
    }
}

/* End Settings */

/* Profile */

.profile-page {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

@media (max-width:767px) {
    .profile-page {
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Overview Widget */

.overview .side {
    padding: 20px;
    width: 300px;
}

@media (min-width: 768px) {
    .overview .side {
        border-right: 1px solid #eee;
    }
}

.overview .side img {
    width: 120px;
}

.overview .side .progress {
    width: 70%;
    margin: auto;
}

.overview .side .progress span {
    top: 0;
    left: 0;
    width: 70%;
}

.overview .side .stars {
    color: #F59E0B;
}

.overview .information .rows .row {
    transition: background-color .4s;
}

.overview .information .rows .row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.overview .information .rows .row:hover {
    background-color: #F9F9F9;
}

.overview .information .rows .row .infos div {
    width: calc(100% / 3);
}

.overview .information .rows .row label .toggle-switch {
    width: 80px;
    height: 20px;
}

.overview .information .rows .row label .toggle-switch::before {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    font-size: 8px;
}

.overview .information .rows .row label .toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    left: 64px;
    background-color: #fff;
    color: var(--blue-color);
}

@media (max-width: 767px) {
    .overview {
        flex-direction: column;
    }

    .overview .information .rows .row .infos {
        flex-direction: column;
        align-items: center;
    }

    .overview .information .rows .row .infos div {
        margin-bottom: 5px;
        width: 100%;
    }

    .overview .information .rows .row label .toggle-switch {
        margin: auto;
    }
}

/* Last Widgets */

.last-widget {
    flex-wrap: wrap;
}

/* My Skills Widget */

.my-skills {
    flex-grow: 1;
}

.my-skills .rows .row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
    padding-top: 17px;
    padding-bottom: 17px;
}

.my-skills .rows .row:last-of-type {
    padding-top: 17px;
    padding-bottom: 17px;
}

/* Latest Activities Widget */

.activities {
    flex-grow: 2;
}

.activities .rows .row>img {
    width: 65px;
}

.activities .rows .row:not(:last-of-type) {
    border-bottom: 1px solid #eee;
}

.activities .rows .row:last-of-type {
    padding-top: 17px;
}

@media (max-width:767px) {

    .last-widget {
        flex-direction: column;
    }

    .activities .rows .row {
        flex-direction: column;
    }

    .activities .rows .row>img {
        margin: auto;
    }

    .activities .rows .row .text {
        flex-direction: column;
    }

    .activities .rows .row .text .left div:last-child {
        margin-bottom: 10px;
    }
}

/* End Profile */

/* Toggle Switch */

.toggle-checkbox {
    appearance: none;
    display: none;
}

.toggle-switch {
    background-color: #ccc;
    width: 78px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    transition: .4s;
    cursor: pointer;
}

.toggle-switch::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #fff;
    color: #aaa;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
}

.toggle-checkbox:checked+.toggle-switch {
    background-color: var(--blue-color);
}

.toggle-checkbox:checked+.toggle-switch::before {
    content: "\f00c";
    left: 50px;
    background-color: #fff;
    color: var(--blue-color);
}

/* Animation */

/* Last Project Progress Widget */
@keyframes circle-current {
    100% {
        opacity: 0;
    }
}